* {
    margin: 0;
    padding: 0;
}

body{
    padding-top: 50px;
}

html,
body {
    height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
#footer{
    background: #222;
    color: #fff;
    padding: 30px 0;
    flex: 0 0 auto;
    margin-top: 50px;
}
.left-bar{
    height: 500px;
    background: #cccccc;
}
.right-bar{
    height: 500px;
    background: green;
}





#headerWrapper{
    max-height: 460px;
    height: 100%;
    background-image: url('/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}


/*This fixes it in version 3.2.0 padding-right: 17px;*/
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    padding-right: 17px;
}
/*#logotext{
    position: absolute;
    width: 100%;
    height: 180px;
    background-image: url(/images/headerlogo/text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 180px;
    top: 50%;
    margin-top: -90px;
}*/

/***headerpartial***/
/*
#partial-headerWrapper{
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 210px;
    background-image: url('/images/headerlogo/background.png');
    background-repeat: no-repeat;
    background-size: 100% 700px;
    background-position: top center;
    background-attachment: fixed;
}

#partial-logotext{
    position: absolute;
    width: 100%;
    height: 180px;
    background-image: url(/images/headerlogo/text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 180px;
    top: 50%;
    margin-top: -90px;
}
#partial-fore-flower{
    position: absolute;
    width: 100%;
    height: 400px;
    background-image: url(/images/headerlogo/fore-flower.png);
    background-size: auto 400px;
    background-repeat: no-repeat;
    background-position: right bottom;
    top: 100px;
    right: -50px;
}
#partial-back-flower{
    position: absolute;
    width: 100%;
    height: 350px;
    background-image: url(/images/headerlogo/back-flower.png);
    background-size: auto 350px;
    background-repeat: no-repeat;
    background-position: left bottom;
    top: 75px;
    right: -35px;
}
*/



.img-thumb{
    width: auto;
    height: 200px;
}
img.details{
    width: 55%;
    margin: 15px auto;
}

.table-auto{
    width: auto;
    margin: 0 auto;
}

#add-product-btn{
    margin-top: -35px;
}

.saved-image img{
    width: 200px;
    height: auto;
}

#login-form{
    width: 50%;
    height: 60%;
    border: 2px solid black;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
    margin: 7% auto;
    padding: 15px;
    border-radius: 15px;
    background: #fff;
}
.totals-table-header th{
    text-align: center;
}



















